
/*
Menu sidebar right
*/
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 16px;
  /*background-color: #2e353d;*/
  top: 0px;
  width: 250px;
  height: auto;
  color: #28b463;
}

.nav-side-menu .brand {
  /*background-color: #23282e;*/
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 18px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 6px;
  margin: 0px;
  line-height: 30px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
/*.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}*/
/*.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}*/
/*.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}*/
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color:   rgba(15, 80, 46, 0.1 ) ;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #EEEEEE;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color:   rgba(0, 90, 0, 0.3 ) ;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  /*border-left: 3px solid #7dcea0;*/
  border-bottom: 2px solid #EEEEEE;
  margin-left: -10px;
    margin-right: -10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #000;
}
.nav-side-menu li a i {
  padding-left: 20px;
  width: 20px;
  padding-right: 29px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #f5f5f5;
  background-color:   rgba(15, 80, 46, 0.1 ) ;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/*End menu*/
*
{
	margin:0px;
	padding:0px;
}
  
body{
	background:#222526;
	position:relative;
	font-family:verdana;
} 

#loginform
{
	width:550px;
	height:auto;
	position:relative;
	margin:224px auto;
}

.my-input
{
	display:block;
	border-radius:5px;
	background: #fff;
	width:85%;
	padding:12px 20px 12px 10px;
	border:none;
	color:#1d933f;                       
	box-shadow:inset 0px 1px 5px #1d933f;
	font-size:0.8em;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease; 
	margin-top: 10px;
}

.my-input:focus
{
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;  
	box-shadow: 0px 0px 5px 1px #fff;
}

.my-button
{
	background: #1d933f;
	border-radius:50%;
	border:10px solid #fff;
	font-size:0.9em;
	color:#fff;
	font-weight:bold;
	cursor:pointer;
	width:85px;
	height:85px;
	position:absolute;
	right: -42px;
	top: 41px;
	text-align:center;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

.my-button:hover
{
	color:#1d933f;
	background:#fff;
	border-color:#1d933f;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
	box-shadow: 0px 0px 10px 2px #fff;
}

.my-button i
{
	font-size:20px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

.my-button:hover i
{
	color:#ff5f32;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}
  
*:focus{outline:none;}
::-webkit-input-placeholder {
	color:#929999;
}

:-moz-placeholder { /* Firefox 18- */
	color:#929999; 
}

::-moz-placeholder {  /* Firefox 19+ */
	color:#929999;  
}

:-ms-input-placeholder {  
	color:#929999; 
}

.my-h1
{
	text-align:center;
	color:#fff;
	font-size:13px;
	margin-top: 0px;
	margin-bottom: 6px;
	padding:1px 0px;
}

#note
{
	color:#88887a;
	font-size: 0.8em;
	text-align:left;
	padding-left:5px;
}

#facebook
{
	text-align:center;
	float:left;
	background:#fff;
	padding:35px 10px 20px 10px;
	width:170px;
	height:169px; 
	border-radius:3px;
	cursor:pointer;
	box-shadow: 0px 0px 6px 0px #1d933f; 
	margin-right:10px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

#facebook:hover
{
	box-shadow: 0px 0px 0px 0px #1d933f;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

.fa-facebook
{
	color:#fff;
	font-size:7em;
	display:block;
}

a
{
	color:#88887a;
	text-decoration:none;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

a:hover
{
	color:#fff;
	margin-left:5px;
	-webkit-transition:0.5s ease;
	-moz-transition:0.5s ease;
	-o-transition:0.5s ease;
	-ms-transition:0.5s ease;
	transition:0.5s ease;
}

#mainlogin
{
	float:left;
	width:250px;
	height:170px;
	padding:30px 15px;
	position:relative;
	background: #1d933f;
	border-radius:3px;
}

#connect
{
	font-weight: bold;
	color: #fff;
	font-size: 13px;
	text-align: left;
	font-family: verdana;
	padding-top:10px;
}

#or
{
	position:absolute;
	left: -25px;
	top: 10px;
	background:#1d933f;
	text-shadow:0 2px 0px #1d933f;
	color:#fff;
	width:40px;
	height:40px;
	text-align:center;
	border-radius:50%;
	font-weight:bold;
	line-height:38px;
	font-size: 13px;

}
#my-logologin
{
	padding-top: 24px;

.nav > li > a > img {
    max-width: none;
    border-radius: 50%;
}
.border {
    border-bottom: 4px solid green;

}

/*form signup*/

body { padding-top:30px; }
.form-control { margin-bottom: 10px; }
/*pagination*/
.badge-success {
  background-color: #468847;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}


